__pycache__/
*.py[cod]
.pytest_cache/
venv/
.venv/

2_Assault/checkpoints/
2_Assault/logs/
2_Assault/mlruns/
mlruns/
2_Assault/models/
2_Assault/videos/
2_Assault/docs/

3_BattleZone/logs/
3_BattleZone/checkpoints/
3_BattleZone/results/
3_BattleZone/docs/
3_BattleZone/tests/
2_Assault/tests/
